<h1>All images</h1>
<% @room_images.each do |room_image| %>
  <p>room id: <%= room_image.room_id%></p>
  <p>url: <%= room_image.url %></p>
  <%= link_to "More Info", room_image %>
  

<% end %>
<%= link_to "New room_image", new_room_image_path %>